.normalizedForm {
  border-radius: var(--mantine-radius-sm);
  background-color: light-dark(#fcfcfc, var(--mantine-color-dark-filled));
  box-shadow: var(--mantine-shadow-xl);

  h1 {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  form > * {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  [name=email], [name=password] {
    margin-top: var(--mantine-spacing-xs);
    margin-bottom: var(--mantine-spacing-lg);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    font-size: var(--mantine-font-size-lg);
    border: 1px solid var(--mantine-color-gray-5);
    border-radius: var(--mantine-radius-sm);
  }

  [type=submit] {
    margin-top: var(--mantine-spacing-xl);
    margin-bottom: var(--mantine-spacing-xl);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border: none;
    border-radius: var(--mantine-radius-sm);
    cursor: pointer;
    color: var(--mantine-color-white);
    background-color: var(--mantine-primary-color-7);

    &:hover {
      background-color: var(--mantine-primary-color-5);
    }
  }

  a {
    color: light-dark(var(--mantine-primary-color-6), var(--mantine-primary-color-4));
    text-decoration: none;
    display: inline;

    &:hover {
      text-decoration: underline;
    }
  }
}
